{% extends 'security_base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container">
        <div class="margin-top">
            <div class="form-width">
                <h1 class="text-center mt-5 mb-2">Register</h1>

                {{ form_start(registrationForm) }}
                <div>
                    <div class="field-width">
                        {{ form_row(registrationForm.email) }}
                    </div>
                    {{ form_row(registrationForm.first_name) }}
                    {{ form_row(registrationForm.second_name) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.profile.gender) }}
                    {{ form_row(registrationForm.profile.age) }}
                    {{ form_row(registrationForm.profile.level) }}
                    {{ form_row(registrationForm.profile.isProfessional) }}
                    {{ form_row(registrationForm.profile.timeSingingInYears) }}

                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
                <br>
                <div class="center">
                    <button type="submit" class="btn">Register</button>
                </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
