{% block body %}
<div class="container-fluid">
    <input type="checkbox" id="sidebarCheck">
    <label for="sidebarCheck">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>Menu</header>
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{{ path("view_category", {id: category.id}) }}">
                        <i class="fa fa-qrcode"></i>{{ category }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% if user %}
        <div class="profileTab">
            <div class="container-fluid profileTabContents">
                <div class="col-5 profilePicture">
                    <img class="img-fluid" src="https://static.vets-now.com/uploads/2017/01/Common-emergencies-in-kittens-Vets-Now.jpg">
                    <a class="pictureOverlay" href="#">
                        <div class="overlayText">
                            Change
                        </div>
                    </a>
                </div>
                <div class="col-7 profileName">
                    <a href="#">
                        {{ user }}
                    </a>
                </div>
            </div>
        </div>
        {% else %}
            <div class="profileTab no-login">
                <p class="top-a-text"><a href="{{ path('app_login') }}">Log in</a></p>
                <p class="top-a-text"><a href="{{ path('app_register') }}">Resgister</a></p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}