{% extends 'base.html.twig' %}

{% block title %}SoundFile index{% endblock %}

{% block body %}
    <h1>SoundFile index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DeletedAt</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sound_file in sound_files %}
            <tr>
                <td>{{ sound_file.id }}</td>
                <td>{{ sound_file.deletedAt ? sound_file.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sound_file.createdAt ? sound_file.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sound_file.updatedAt ? sound_file.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('sound_file_show', {'id': sound_file.id}) }}">show</a>
                    <a href="{{ path('sound_file_edit', {'id': sound_file.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sound_file_new') }}">Create new</a>
{% endblock %}
