{% extends 'base.html.twig' %}

{% block title %}Hello SoundPackageController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <p class="main-title">{{ soundPackage.title }}</p>
        <div class="main-page">
            <div class="container-fluid center">
                <div id="canvas-wrapper">
                    <canvas id="wave" height="300px" width="1000px"></canvas>
                    <div id="volume-bar"></div>
                </div>
                <div class="container">
                    <h1 id="score"></h1>
                    <div>
                        <a href="#playing" class="play" id="play">Play</a>
                        <a href="{{ path("index_sound_packages") }}" class="back">Back</a>
                        {{ form(scoreForm, {action:path("sound_package_submit_score", {sound_id: soundId})}) }}
                    </div>
                    <div class="scoreBoard">
                        <table class="table">
                            <tr class="thead-dark">
                                <th scope="col">Nr.</th>
                                <th scope="col">Score</th>
                            </tr>
                            {% for score in scores %}
                            <tr>
                                <td scope="row">{{ loop.index }}</td>
                                <td>{{ score }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="/js/displayer.js" data-file-path="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ path("get_sound_file", {id:soundPackage.id}) }}"></script>
    <script src="/js/recorder.js" data-sound-package-id="{{ soundPackage.id }}" data-user-id="{{ app.user?user.id:null }}" data-file-path="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ path("get_sound_file", {id:soundPackage.id}) }}"></script>
    {{ parent() }}
{% endblock %}
